* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, #0c160c, #76221b);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px 0;
}

.nav-link {
    color: #efd3da;
    text-decoration: none;
    padding: 20px 30px; /* Adjusted padding */
    font-size: 1.2em; /* Adjusted font size */
    background-color: rgba(118, 34, 27, 0);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: 2px solid rgba(118, 34, 27, 0.5); /* More visible border */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px; /* Fixed width for consistency */
    height: 50px; /* Fixed height for a better shape */
}

.nav-link:hover {
    background-color: rgba(197, 51, 33, 0.2);
    color: #e9a098;
    border-color: #efd3da;
}

.nav-logo img {
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 50%;
}

.nav-logo img:hover {
    filter: drop-shadow(0 0 15px #ff0000);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        width: 80%; /* More width on mobile for better touch targets */
        text-align: center;
        margin: 10px 0; /* Increased margin for spacing */
        font-size: 1.5em; /* Larger text on mobile */
    }

    .nav-logo img {
        height: 50px;
        width: 50px;
    }
}
