@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; /* A very dark grey that looks almost black */
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, #080808, #76221b);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adjusted for depth */
    padding: 15px 0;
}

.nav-link {
    color: #efd3da;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 1.2em;
    background-color: rgba(118, 34, 27, 0);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border: 2px solid rgba(118, 34, 27, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
}

.nav-link:hover {
    background-color: rgba(197, 51, 33, 0.2);
    color: #e9a098;
    border-color: #efd3da;
}

.nav-logo img {
    height: 60px;
    width: 70px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 50%;
}

.nav-logo img:hover {
    filter: drop-shadow(0 0 15px #ff0000);
}

.hero {
    position: relative; /* Set position for the overlay positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./herobackground.gif') no-repeat center center/cover;
    height: 75vh; /* Adjust this value to change the height */
    text-align: center;
    color: #efd3da;
}

/* Overlay styles */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); /* Dark overlay */
    z-index: 1; /* Ensure it's above the background but below the content */
}

.hero-content {
    position: relative; /* Ensure that text appears above the overlay */
    z-index: 2; /* Higher index than the overlay */
    max-width: 1200px;
    padding: 20px;
}


.hero h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 4rem;
    color: #c53321; /* Red color for the text */
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px #000; /* Text shadow for better readability */
}

.hero p {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.hero-btn {
    font-size: 1.25rem;
    padding: 10px 30px;
    background-color: #c53321;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero-btn:hover {
    background-color: #e9a098;
}

.features {
    display: flex;
    justify-content: space-around; /* Changed for equal spacing */
    align-items: flex-start; /* Align items to the start for better alignment */
    flex-wrap: wrap;
    gap: 30px; /* Increased gap for better spacing */
    padding: 50px;
    background: linear-gradient(to bottom, #333, #000); /* Gradient from lighter to darker black */
    text-align: center;
}

.feature-item {
    width: 250px; /* Increased size */
    padding: 20px;
    color: #fff;
    display: flex; /* Added for vertical alignment */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align the child elements */
}

.feature-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #323232;
    box-shadow: 0 0 15px #c53321; /* Red glow effect */
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the glow */
}

.feature-image:hover {
    box-shadow: 0 0 20px #c53321; /* Intensify the glow on hover */
}

.feature-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-item h3, .feature-item p {
    background: -webkit-linear-gradient(#fff, #e9a098); /* Gradient from white to reddish-pink */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0;
    font-size: 1rem;
    text-align: center;
}

.feature-item h3 {
    font-size: 2rem; /* Slightly larger font for headers */
}


.feature-item p {
    font-size: 1rem;
    text-align: center; /* Ensure text is centered */
}

.testimonials {
    display: flex;
    justify-content: space-around; /* Evenly space out items */
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    padding: 50px 20px;
    background-color: #323232;
    text-align: center;
}

.testimonial-item {
    width: 30%; /* Adjust based on the number of items and container width */
    margin: 10px; /* Adds some space around each item */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.testimonial-photo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #e9a098;
    margin-bottom: 10px;
}


.testimonial-rating {
    color: #e9a098;
    margin-bottom: 10px;
}

.fa-star {
    color: #6c6c6c;
}

.fa-star.checked {
    color: #e9a098;
}

.testimonial-text {
    font-style: italic;
    background: -webkit-linear-gradient(#ef2020, #e9a098); /* Gradient from white to reddish-pink */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.testimonial-author {
    font-weight: bold;
    color: white;
}

.about {
    padding: 50px 20px;
    background-color: #76221b;
}

.footer {
    margin-top: 100px;
    padding: 100px 15%;
    background: #202020;; 
    color: #efd3da; /* Light pink text color to match your color scheme */
    display: flex;
    flex-wrap: wrap; /* Ensure it wraps on smaller screens */
    justify-content: space-between; /* Distribute space between columns */
}

.footer div {
    text-align: center;
    flex-basis: calc(33.333% - 20px); /* Allocate equal width accounting for padding/margin */
    margin: 10px; /* Add some space between columns */
}

.col-2 {
    flex-grow: 2; /* The newsletter section will take up more space */
}

.footer h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.footer a {
    display: block;
    text-decoration: none;
    color: #efd3da; /* Light pink links color to match your color scheme */
    margin-bottom: 10px;
}

.footer input[type=email] {
    width: 80%; /* Responsive width */
    max-width: 400px; /* Maximum width */
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: 2px solid #000000;
    background-color: #3b3b3b;
    color: white;
    padding: 12px 20px;
    font-size: x-large;
}

.footer button {
    background: transparent;
    border: 2px solid #000000;
    color: #efd3da;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.footer .social-icons {
    margin-top: 30px;
}

.footer .social-icons i {
    font-size: 22px;
    margin: 0 10px;
    cursor: pointer;
    color: #efd3da;
}

input::placeholder {
    color: rgb(255, 0, 0);
    font-weight: bold;
    opacity: 0.5;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        width: 80%;
        text-align: center;
        margin: 10px 0;
        font-size: 1.5em;
    }

    .nav-logo img {
        height: 50px;
        width: 50px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .hero-btn {
        font-size: 1rem;
    }

    .features {
        justify-content: center;
    }

    .feature-item {
        width: 200px;
    }

    .feature-image {
        width: 200px;
        height: 200px;
    }

    .footer {
        padding: 50px 5%;
        flex-direction: column;
        align-items: center;
    }

    .footer div {
        flex-basis: 100%;
        margin: 10px 0;
    }

    .footer input[type=email], .footer button {
        width: 100%;
    }

    .footer .social-icons i {
        margin: 0 5px; /* Less margin for smaller screens */
    }

    .testimonial-item {
        width: 80%; /* Larger width for smaller screens */
        margin: 10px auto; /* Center items on smaller screens */
    }

    .testimonial-photo img {
        width: 60px;
        height: 60px;
    }
}