.itemsgrid{
    display: grid;
    grid-template-rows: [one] 1fr [two] 1fr [three] 1fr [four] 1fr [five];
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [end];
    padding: 5px;
    gap: [ row gap ] [ col gap ];
    gap: 2rem .5rem;
    justify-items: stretch;
    width: 90%;
    margin: auto;
    justify-items: center;
    align-content: center;
}

.items1{
    display: flex;
    grid-row: one/two;
    grid-column: first/second;
}

.items2{
    display: flex;
    grid-row: one/two;
    grid-column: second/third;
}

.items3{
    display: flex;
    grid-row: one/two;
    grid-column: third/end;
}

.items4{
    display: flex;
    grid-row: two/three;
    grid-column: first/second;
}

.items5{
    display: flex;
    grid-row: two/three;
    grid-column: second/third;
}

.items6{
    display: flex;
    grid-row: two/three;
    grid-column: third/end;
}

.items7{
    display: flex;
    grid-row: three/four;
    grid-column: first/second;
}

.items8{
    display: flex;
    grid-row: three/four;
    grid-column: second/third;
}

.items9{
    display: flex;
    grid-row: three/four;
    grid-column: third/end;
}

.items10{
    display: flex;
    grid-row: four/five;
    grid-column: first/second;
}

.items11{
    display: flex;
    grid-row: four/five;
    grid-column: second/third;
}

.items12{
    display: flex;
    grid-row: four/five;
    grid-column: third/end;
}

  
  .container {
    padding: 4px 16px;
    text-align: center;
    color: #FFF;

  }

.addtocartbutton{
    background-color: #aa0404;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}

.addtocartbutton:hover{
    background-color: #580000;
}

.controllertitle{
    text-align: center;
    color:#b60d0d;
    font-size: xx-large;
}

.card{
    color: white;
}